.header{
    display: flex;
    color: #ddd6cb;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-content: start;
}

.section{
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.firstDiv {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 310px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color:  #252525;
}

.block:hover .overlay {
  opacity: 1;
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text2 a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

.secondDiv {
  flex: 1;
  margin-right: 40px;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.linkedIn, .gitHub, .instagram{
  width: 30px;
  height: 30px;
}

.linkedIn:hover, .gitHub:hover, .instagram:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text{
    flex-direction: column;
    width: auto;
    color: #ddd6cb;
    font-size: 1.1rem;
    margin-right: 50px;
}

.highlight{
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block {
  position: relative;
}

.block:before, .block:after {
  content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #f9572a, #ff8a05, #030303,#f9572a, #ff8a05, #030303, 
  #f9572a, #ff8a05, #030303);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
  filter: blur(50px);
}

@keyframes show{
  from {
    opacity: 0;
    scale: 25%;
  }
  
  to{
    opacity: 1;
    scale: 100%;
  }
}

.section{
  view-timeline-name: --image;
  view-timeline-axis:block;
  
  animation-timeline: --image;
  animation-name: show;
  
  animation-range: entry 2% cover 40%;
}

@media (max-width: 700px) {
  .header{
    font-size: 0.7rem;
    padding-top: 1rem;
  }
  .section {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .firstDiv,
  .secondDiv {
    margin-bottom: 20px;
  }
  .socialLinks {
    margin: 0 auto;
  }
  .linkedIn, .gitHub, .instagram{
    width: 15px;
    height: 15px;
  }
  .text {
    margin: 0 auto;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.5rem;
  }
  .socialLinks, .column{
    margin-left: 27px;
  }
  .block {
    position: relative;
    width: 150px;
    height: 190px;
  }
  .photo{
    width: 150px;
    height: 190px;
  }
  .overlay {
    width: 150px;
    height: 190px;
  }
}