.header{
    display: flex;
    color: #ddd6cb;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.column{
  flex: 1;
  text-align: center;
}

.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstDiv {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondDiv {
  flex: 1;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.text{
    flex-direction: column;
    width: auto;
    color: #ddd6cb;
    font-size: 1.1rem;
    text-align: justify;
    margin-right: 50px;
}

.highlight{
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .firstDiv,
  .secondDiv {
    width: 100%;
    margin-bottom: 20px;
  }

  .socialLinks {
    margin: 0 auto;
  }

  .text {
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.block {
	position: relative;
	width: 270px;
	height: 310px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #f9572a, #ff8a05, #030303,#f9572a, #ff8a05, #030303, 
  #f9572a, #ff8a05, #030303);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}