@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

::-webkit-scrollbar {display: none;}

html {
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(to top, #000000, 2%, #2e2924);
  background-attachment: fixed;
  background-repeat: no-repeat;
}