@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap');

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  height: auto;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to top, #f58403, 2%, #2e2924);
}