.principal {
    color: #ddd6cb;
    margin: 3rem auto 10rem auto;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    scroll-margin-top: 112px;
  }

  .projects{
    scroll-margin-top: 112px;
  }

  .about{
    scroll-margin-top: 35px;
    margin-bottom: 80px;
  }
  
  .highlight {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
  }

  .images{
    margin-right:10px;
  }

  @media screen and (max-width: 700px) {
    .principal{
      display: inline-block;
      font-size: 0.8rem;
      margin: 1rem 0 0 0;
    }
    .principal h1, .principal h3{
      margin-left: 20px;
    }
    .imgs{
      margin-left: 15px;
    }
    .about{
      margin-bottom: 20px;
    }
  }

  @media screen and (max-height: 589px){
    .principal {
      margin: 0 auto 0 auto;
      width: 90%;
      scroll-margin-top: 112px;
    }
  }