.principal {
    color: #ddd6cb;
    gap: 3rem;
    margin: 3rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    font-family: 'Montserrat', sans-serif;
    scroll-margin-top: 112px;
  }

  @media screen and (max-width: 700px) {
    .principal{
      display: inline-block;
      font-size: 1rem;
    }
    .principal h1, .principal h3{
      margin-left: 20px;
      text-align: justify;
    }

    .imgs{
      margin-left: 15px;
    }
  }

  .projects{
    scroll-margin-top: 112px;
  }

  .about{
    scroll-margin-top: 35px;
  }
  
  .highlight {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
  }

  .images{
    margin-right:10px;
  }