.principal {
    color: #ddd6cb;
    font-size: 1.5rem;
    gap: 3rem;
    margin: 3rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width: 700px) {
    .principal{
      display: inline-block;
      font-size: 1rem;
    }
  }

  .header h1 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .highlight {
    background: linear-gradient(90deg, #f9572a, #ff8a05);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .header p {
    margin: 0;
  }

  .images{
    margin-right:10px;
  }